body {
  width: 800px;
  height: 400px;
  font-family: 'futura-pt', 'Helvetica Neue', 'Helvetica', 'Arial';
  background: url(./images/card.png) top left no-repeat;
}

.wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  text-align: center;
}
.candidate-image {
  position: absolute;
  top: 90px;
  left: -18px;
}
.candidate-image .image-wrapper {
  width: 245px;
  height: 245px;
  overflow: hidden;
  background: #b4c1cc url(./images/candidate-placeholder.png) no-repeat;
  background-size: 100%;
  border: 5px solid #fff;
  border-radius: 12px;
  box-shadow: 0 0 98px 1px rgba(0,0,0,0.5);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(-7deg);
  -webkit-backface-visibility: hidden;
}
.candidate-image .image-overlay {
  width: 299px;
  height: 379px;
  background: url(./images/red-circle.png) no-repeat;
  position: absolute;
  bottom: -59px;
  left: -11px;
}
.main {
  position: absolute;
  width: 535px;
  right: 0;
}
.main .main-inner {
  margin: 40px 15px 0;
}
.user-profile {
  display: table;
  margin: auto;
}
.signature {
  position: relative;
  display: table-cell;
}
.avatar-wrapper {
  position: relative;
  display: block;
  margin-right: 0;
  width: 90px;
  height: 90px;
  background: #b4c1cd;
  margin: -15px 0 0 20px;
  border: 5px solid #FFF;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-transform: rotate(7deg);
  transform: rotate(6deg);
  box-shadow: 0 0 60px 1px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
  -webkit-backface-visibility: hidden;
}
.avatar {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.message {
  position: absolute;
  top: 136px;
  width: 100%;
  color: #EEEEEE;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  word-spacing: 3px;
}
.message strong {
  color: #fff;
  font-weight: bold;
}
.info {
  display: table-cell;
  vertical-align: top;
  font-weight: 900;
  font-size: 27px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5)
}
.info .name {
  margin: 10px 0 0 0;
  font-size: 0.9em;
}
.info .location {
  font-size: 0.75em;
}
.info .spacer {
  color: #fff;
  font-size: 2.5em;
  line-height: 0;
  position: relative;
  top: -4px;
  padding: 0 10px;
}
.statement {
  margin-top: 22px;
  color: #fff;
}
.statement span,
.days-count {
  display: block;
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 3px 4px 11px rgba(0, 0, 0, 0.89);
}

.statement span > strong{
  display: inline-block;
  width: 247px;
  height: 72px;
  background: url('./images/disaster-text.png');
  text-indent: -9999px;
  position: relative;
  top: -13px;
  margin-bottom: -20px;
  z-index: 2;
}
